%form{:action => "/puzzles/create", :method => "post"}
  %input{:type => "text", :name => "puzzle_name"}
  %textarea{:name => "puzzle"}
  %textarea{:name => "description_of_problem"}
  %textarea{:name => "description_of_problem"}
  %textarea{:name => "description_of_problem"}
