.row
  .span8.column
    %h2=@puzzle.name
    %p=@puzzle.problem_desc
    %p=HtmlPrinter.new.print(@puzzle.puzzle_with_guesses)
  .span4.column
    .row
      %h2
    .row
      %p=HtmlPrinter.new.print(@drawing)
      %p="#{@puzzle.number_of_guesses} guesses so far, #{@puzzle.number_of_incorrect_guesses} incorrect."
      %p="incorrect: #{@puzzle.incorrect_guesses}"
      %p="correct: #{@puzzle.correct_guesses}"
.row
  .span12.column
    %input#guess
    %a#submit.btn{} &gt;
