!!!
%index
  %head
    %title= @title
    %link{:rel => "stylesheet", :type=>"text/css", :href=>"/css/style.css"}
    %link{:rel => "stylesheet", :type=>"text/css", :href=>"/css/bootstrap-1.0.0.css"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "/js/app.js", :type => "text/javascript"}
  %body
    .container
      .row
        .span2.column
          %p
        .span12.column
          .row
            .span6.column
              %h1
                %a{:href=>"/"} Ruby Hangman
            .span6.column.top-nav-buttons
              %a.btn.primary{:href=>"/puzzles/random"} Play a random puzzle
              -unless @hide_upload_puzzle == true
                %a.btn{:href=>"/puzzles/new"} Create a new puzzle
          %hr/
          -if flash[:success]
            .alert-message.success=flash[:success]
          =yield
